<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thêm ghế</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link
            rel="shortcut icon"
            type="image/png"
            th:href="@{/admin/assets/imgLogo/logo.png}"
    />
    <link rel="stylesheet" th:href="@{/admin/css/index.css}">
    <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/admin/css/movie.css}">
    <link rel="stylesheet" th:href="@{/admin/css/customer.css}">
    <link rel="stylesheet" th:href="@{/admin/css/home.css}">
    <link rel="stylesheet" th:href="@{/admin/css/promotion.css}">
    <link rel="stylesheet" th:href="@{/admin/css/room.css}">
    <link rel="stylesheet" th:href="@{/admin/css/schedule.css}">
    <link rel="stylesheet" th:href="@{/admin/css/seat.css}">
    <link rel="stylesheet" th:href="@{/admin/css/seat-manager.css}">
    <link rel="stylesheet" th:href="@{/admin/css/modal.css}">
    <link rel="stylesheet" th:href="@{/admin/css/phan-trang.css}">
    <link rel="stylesheet" th:href="@{/admin/css/bill.css}">
    <style>
        .form-control {
            width: 250px;
            margin-left: 421px;
            margin-top: -37px;
        }

        .form-select {
            width: 300px;
            margin-left: 80px;
            margin-top: -50px;
        }

        .btn {
            margin-top: 50px;
            width: 100px;
            margin-left: 35px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.9.0/sweetalert2.min.css"
          integrity="sha512-IScV5kvJo+TIPbxENerxZcEpu9VrLUGh1qYWv6Z9aylhxWE4k4Fch3CHl0IYYmN+jrnWQBPlpoTVoWfSMakoKA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

<div th:replace="~{/layout/header-admin :: header}"></div>

<section class="room-html" style="margin-bottom: 20px">
    <form th:object="${room}">
        <input type="hidden" th:field="*{id}">

        <input style="width: 400px; margin-left: 10px; height: 80px;font-size: 30px;margin-top: 20px" type="email"
               th:field="*{name}" class="form-control" disabled/>

    </form>
    <button type="button" class="btn btn-outline-primary" style="width: 150px;margin-bottom: -30px;" id="showDivButton" onclick="showContinueButton()">Tạo ghế Excel</button>
    <button type="button"  class="btn btn-outline-primary" style="width: 150px;margin-bottom: -30px;display: none" id="showDivButtonQuayLai" onclick="showContinueButtonQuayLai()">Tạo ghế nhanh</button>

    <div class="room_add_all" id="addSeat">
        <form th:action="@{/seat/save}" method="post" onsubmit="validateFormRated(event)">

            <div class="seat_input">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="input-box">
                            <label>Mời số lượng hàng ghế</label>
                            <input type="number" id="inputNumber" min="0" oninput="displayLettersBefore()">
                        </div>
                        <span id="lineSeatErr" style="color: red; margin: 10px 0px 0px 0px"></span>
                    </div>
                    <div id="result"></div>
                    <input style="display: none" type="text" name="roomId" id="roomId" value="">
                    <input style="display: none" id="listLineCodes" name="listLineCodes" value="">

                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary">Thêm</button>
        </form>
    </div>
    <div style="display: none" class="room_add_all" id="addSeatExcel">
        <form method="post" enctype="multipart/form-data" th:action="@{/seat/upload}">
            <div style="margin-left: 40px">
            <input type="file" name="file" accept=".xlsx, .xls">

            </div>
            <button type="submit" class="btn btn-outline-primary">Upload</button>
        </form>
    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script th:src="@{/admin/js/index.js}"></script>
<script th:src="@{/admin/js/creatSeat.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.9.0/sweetalert2.min.js"
        integrity="sha512-GAaXlfJeIbLNG2LQu2v4pf8YEc7iPz+GE3LZyUmdR7d7Id5JsER9vmJVxMKw1MqmdlVh3NXxTxQVd9AS53G+4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script th:inline="javascript" x>

    function convertNumberToLetters(number) {
        if (number < 1 || number > 26) {
            return "Số lượng không hợp lý";
        } else {
            let result = "";
            let result1 = "";

            let seatTypeList = [[${seatTypeList}]];

            for (let i = 1; i <= number; i++) {
                if (result1 !== "") {
                    result1 += ","; // Thêm dấu phẩy nếu chuỗi kết quả không rỗng
                }
                result1 += String.fromCharCode(64 + i);
                result += `<div class="letter-box">${String.fromCharCode(64 + i)}</div>`;
                result += `<select class="form-select" name="listSeatTypeId" id="listSeatTypeId">`;

                seatTypeList.forEach(seatType => {
                    result += `<option value="${seatType.id}">${seatType.name}</option>`;
                });

                result += `</select> `;
                result += `<input required type="number" class="form-control" min="0" max="20" placeholder="Số lượng ghế trên 1 hàng" name="listNumberOfSeatPerLine" id="listNumberOfSeatPerLine">`;

            }

            document.getElementById("listLineCodes").value = result1;

            return result;
        }

    }

    function displayLettersBefore() {
        let inputNumber = parseInt(document.getElementById("inputNumber").value);
        let result = convertNumberToLetters(inputNumber);
        document.getElementById("result").innerHTML = result;
    }

    var value = document.getElementById("id").value;

    document.getElementById("roomId").value = value;

</script>
</body>

</html>
