<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>Chọn rạp</title>
    <link rel="stylesheet" th:href="@{/users/css/web.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/users/css/rap.css}">

</head>
<body>
<div th:replace="~{/layout/Header :: header}"></div>
<section>
    <th:block th:each="cinema : ${cinema}">
    <div class="card">

        <h4 class="card-title">Rạp: [[${cinema.name}]]</h4>
        <div class="btn-holder">
            <a class="btn btn-outline-primary" data-toggle="modal" data-target="#id01"
               th:attrappend="data-target=${cinema.id}" href="#" title="">Xem địa chỉ</a>
        </div>
        <div class="btn-holder">
            <a class="btn btn-outline-primary" th:href="@{'lichchieu?movieId=[[${sessionScope.movieId}]]&cinemaId='+${cinema.id}}" >Chọn rạp</a>
        </div>
<!--        <div th:text="${#session.getAttribute('movieId')}">John Doe</div>-->
    </div>
    </th:block>
</section>
<div th:replace="~{/layout/Footer :: footer}"></div>
<!--xem chi tiết rap -->
<th:block th:each="cinema : ${cinema}">
<div id="id01" th:attrappend="id=${cinema.id}" class="w3-modal" style="display: none;">
    <div class="w3-modal-content">
        <div class="w3-container">
                <span data-dismiss="modal"
                      class="w3-button w3-display-topright">&times;</span>
            <div class="w3-cinema">
                <h3> Rạp: [[${cinema.name}]]</h3>
            </div>
            <p>Địa chỉ: [[${cinema.address}]]</p>
            <br>
        </div>
    </div>
</div>
</th:block>
</body>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
<script >
    console.log("sessionScope.movieId")
</script>

</html>