<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>Lịch Chiếu</title>
    <link rel="stylesheet" th:href="@{/users/css/lichchieu.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" th:href="@{/users/img//logo.png}" type="image/x-icon"/>
</head>

<body>
<!-- navbar -->

<div th:replace="~{/layout/Header :: header}"></div>
<!--  -->
<div class="searchSchdule" id="div1">
    <form id="searchForm">
        <select size="1" id="name" name="name">
            <option value="">-- Chọn rạp --</option>
            <option th:each="cinema : ${listcinema}" th:value="${cinema.name}" th:text="${cinema.name}"></option>
        </select>
        <!---->
        <select size="1" id="nameMovie" name="nameMovie">
            <option value="">-- Chọn phim --</option>
            <option th:each="movie : ${listmovie}" th:value="${movie.name}" th:text="${movie.name}"></option>
        </select>
        <!--  -->
        <select size="1" id="startAt" name="startAt">
            <option value="">-- Chọn ngày --</option>
        </select>

        <div class="searchtime">
            <div class="wrapper">
                <label for="startTime" class="label"></label>
                <input type="number" class="input" id="startTime" name="startTime" placeholder="Giờ bắt đầu">
            </div>

            <div class="wrapper">
                <label for="endTime" class="label"></label>
                <input type="number" class="input" id="endTime" name="endTime" placeholder="Giờ kết thúc">
            </div>
            <button type="submit" class="buttonnn cancel-button">Search</button>
        </div>
    </form>
</div>
<!---->
<!--<table>-->
<!--    <tr th:each="entry : ${suatChieuMap}">-->
<!--        <td th:text="${entry.key}"></td> &lt;!&ndash; Tên phim &ndash;&gt;-->
<!--        <td>-->
<!--            <table>-->
<!--                <tr th:each="subEntry : ${entry.value}">-->
<!--                    <td th:text="${subEntry.key}"></td> &lt;!&ndash; Tên phòng chiếu &ndash;&gt;-->
<!--                    <td>-->
<!--                        <ul>-->
<!--                            <li th:each="gioChieu : ${subEntry.value}" th:text="${#temporals.format(gioChieu, 'HH:mm')}"></li> &lt;!&ndash; Thời gian bắt đầu &ndash;&gt;-->
<!--                        </ul>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

<section><th:block th:each="entry : ${suatChieuMap}">
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="card">
                <div class="card-image "><img src="img/anh.jpg" width="250px" height="350px" alt=""></div>
                <div class="content">

                        <h2>[[${entry.key}]]</h2><br>

                    <p><i class='fa fa-film'></i> Thể loại: <b > </b></p> <br>
                    <p><i class='fa fa-history'></i> Thời lượng: <b>100 phút</b></p><br>
                    <b>2D PHỤ ĐỀ</b>
                    <hr style="margin-top: 10px;margin-bottom: 10px">
                    <th:block th:each="subEntry : ${entry.value}">
                        <h2>[[${subEntry.key}]]</h2>
                    <div class="bottom">
                        <th:block th:each="gioChieu : ${subEntry.value}">
                            <button class="end"><b th:text="${#temporals.format(gioChieu, 'HH:mm')}"></b></button>
                        </th:block>
                    </div>
                    </th:block>
                </div>
            </div>

        </div>
    </div></th:block>
</section>
<!--  -->
<div th:replace="~{/layout/Footer :: footer}"></div>
</body>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.3.js" integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
        crossorigin="anonymous"></script>
<script th:src="@{/users/js/lichchieu.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchForm').on('submit', function (event) {
            event.preventDefault(); // Ngăn chặn việc gửi yêu cầu đồng bộ

            var formData = $(this).serialize(); // Lấy dữ liệu từ form

            $.ajax({
                type: 'GET',
                url: '/filmbooking/search/schedule',
                data: formData,
                success: function (result) {
                    $('#searchResult').html(result); // Cập nhật kết quả tìm kiếm
                }
            });
        });
    });
</script>
</html>

