<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <title>Lịch Chiếu</title>
  <link rel="stylesheet" th:href="@{/users/css/lichchieu.css}">
</head>

<body>
  <!-- navbar -->

  <div th:replace="~{/layout/Header :: header}"></div>
  <!--  -->
  <section>
    <div>
      <!-- Tabs menu -->
      <div class="tabs">
        <div class="tab-item active">
          05/08-T7
        </div>
        <div class="tab-item">
          05/09-CN
        </div>
        <div class="tab-item">
          05/10-T2
        </div>
        <div class="tab-item">
          05/11-T3
        </div>
        <div class="line"></div>
      </div>

      <!-- Tab content -->
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="card">
            <div class="card-image "><img src="img/anh.jpg" width="250px" height="350px" alt=""></div>
            <div class="content">
              <h2>Thử Thách #CáVoiXanh: Trò Chơi Kết Liễu</h2><br>
              <p><i class='fa fa-film'></i> Thể loại: <b>Kinh dị, vui nhộn </b></p> <br>
              <p><i class='fa fa-history'></i> Thời lượng: <b>100 phút</b></p><br>
              <b>2D PHỤ ĐỀ</b>

              <div class="bottom">
                <button class="end"><b>19:14</b></button>
                <button class="end"><b>19:14</b></button>
                <button class="end"><b>19:14</b></button>
              </div>

            </div>
          </div>

        </div>

        <div class="tab-pane">
          <div class="card">
            <div class="card-image "><img src="img/anh.jpg" width="250px" height="350px" alt=""></div>
            <div class="content">
              <h2>Thử Thách #CáVoiXanh: Trò Chơi Kết Liễu</h2><br>
              <p><i class='fa fa-film'></i> Thể loại: <b>Kinh dị, vui nhộn </b></p> <br>
              <p><i class='fa fa-history'></i> Thời lượng: <b>100 phút</b></p><br>
              <b>2D PHỤ ĐỀ</b>

              <div class="bottom">
                <button class="end"><b>19:14</b></button>
                <button class="end"><b>19:14</b></button>
                <button class="end"><b>19:14</b></button>
              </div>

            </div>
          </div>
        </div>

        <div class="tab-pane">
          <div class="card">
            <div class="card-image "><img src="img/anh.jpg" width="250px" height="350px" alt=""></div>
            <div class="content">
              <h2>Thử Thách #CáVoiXanh: Trò Chơi Kết Liễu</h2><br>
              <p><i class='fa fa-film'></i> Thể loại: <b>Kinh dị, vui nhộn </b></p> <br>
              <p><i class='fa fa-history'></i> Thời lượng: <b>100 phút</b></p><br>
              <b>2D PHỤ ĐỀ</b>

              <div class="bottom">
                <button class="end"><b>19:14</b></button>
                <button class="end"><b>19:14</b></button>
                <button class="end"><b>19:14</b></button>
              </div>

            </div>
          </div>
        </div>

        <div class="tab-pane">
          <div class="card">
            <div class="card-image "><img src="img/anh.jpg" width="250px" height="350px" alt=""></div>
            <div class="content">
              <h2>Thử Thách #CáVoiXanh: Trò Chơi Kết Liễu</h2><br>
              <p><i class='fa fa-film'></i> Thể loại: <b>Kinh dị, vui nhộn </b></p> <br>
              <p><i class='fa fa-history'></i> Thời lượng: <b>100 phút</b></p><br>
              <b>2D PHỤ ĐỀ</b>

              <div class="bottom">
                <button class="end"><b>19:14</b></button>
                <button class="end"><b>19:14</b></button>
                <button class="end"><b>19:14</b></button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <div th:replace="~{/layout/Footer :: footer}"></div>

  <!-- thông báo xác nhận vé  -->
  <div class="modal-view" id="modal3">
    <div class="modal-content-view">
      <span class="modal-close-view">&times;</span>
      <h3>BẠN ĐANG ĐẶT VÉ XEM PHIM</h3>
      <hr style="opacity: 0.3; margin-top: 5px; margin-bottom: 30px;">
      <b>THỬ THÁCH #CÁ VOI XANH: TRÒ CHƠI KẾT LIỄU</b>
      <hr style="opacity: 0.2; margin-top: 5px; margin-bottom: 15px;">
      <table style="margin-bottom: 30px;">
        <tr>
          <th>Rạp chiếu</th>
          <th>Ngày chiếu</th>
          <th>Giờ chiếu</th>
        </tr>
        <tr>
          <td>Peter</td>
          <td>Griffin</td>
          <td>$100</td>
        </tr>
      </table>

      <div style="text-align: center;"><button class="mybtn bronze">Đồng Ý </button></div>
    </div>
  </div>
</body>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
<script th:src="@{/users/js/lichchieu.js}"></script>

</html>